.widgets{
    height: 200px;
    width: 499px;
    background: #4747a2;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}
.block{
    display: flex;
    width: 500px;
align-content: center;
    font-size: 45px;
    text-align: center;
    margin-bottom: 10px;



}
.big{
    height: 150px;
    width: 30%;
     background: #2c2c56;
    margin-right: 27px;
    color: white;
}
.contact{
    width: 499px;
    background: #4747a2;
    font-size: 50px;
    text-align: center;
    height: 300px;
    color: white;
}